/* form{
    display : flex;
    flex-direction : column;
    align-items : center;


} */

h1,h3{

text-align: center;

}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; /* Adjust width as needed */
    margin: auto; /* Centers the form */
}

input, select {
    width: 100%; /* Makes inputs fill the form */
    max-width: 400px; /* Prevents inputs from being too wide */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
