{% extends 'layout.html' %}

{% block content %}
    

<h2 style="text-align : center;">User Management</h2>
<div class="d-flex justify-content-end mb-3">
  <a href="{{ url_for('add_user') }}" class="btn btn-success"><i class="fa-solid fa-user-plus"></i> Add User</a>
</div>

<table class="table table-striped table-hover ">
  <thead class = 'table-dark'>
    <tr>
      <th>ID</th><th>Name</th><th>Username</th><th>Email</th><th>Level</th><th>Dob</th><th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-info">
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.level }}</td>
        <td>{{ user.dob }}</td>
        <td>
          <a href="{{ url_for('admin_edit_user', user_id=user.id) }}" class="btn btn-primary btn-sm"><i class="fa-solid fa-user-pen"></i> Update</a>

          <form action="{{ url_for('delete_user', user_id=user.id) }}" method="POST" style="display:inline;">
            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this user?');">
              <i class="fa-solid fa-user-slash"></i>
                Delete
            </button>
        </form>
        </td>
        
      </tr>
    {% endfor %}

  </tbody>

</table>






{% endblock %}