{% extends 'layout.html' %}

{% block content %}
<a href="{{ url_for('manage_courses') }}" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-left"></i> Back to Course Mangement</a>
<br>
<br>

<div class="card mb-4">
<div class="card-header">
    <h4>Update Course</h4>
</div>
<div class="card-body">
    <form method="POST">
        <div class="mb-3">
            <lable for = "name" class = "form-lable">Course Name :
                <input type = 'text' name = 'name' id="name" class = 'form-control' value="{{course.name}}"  >
            </lable>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label" >Course Description</label>
            <textarea class="form-control" id="description" name="description" rows="3">{{course.description}}</textarea>
        </div>
        <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Update Course</button>
    </form>
</div>
</div>

{% endblock %}