{% extends 'layout.html' %}

{% block content %}
<a href="{{ url_for('quiz_details',quiz_id=quiz.id) }}" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-left"></i> Back to Quiz Details</a>

<div class="container mt-4">
    <h3>Update Question to Quiz: {{ quiz.name }}</h3>

    <form method="POST">
        <div class="mb-3">
            <label for="statement" class="form-label">Question Statement</label>
            <textarea class="form-control" id="statement" name="statement" rows="3"    required>{{question.statement}} </textarea>
        </div>

        <div class="mb-3">
            <label for="marks" class="form-label">Marks</label>
            <input type="number" class="form-control" id="marks" name="marks" min="1" value="{{question.marks}}"required>
        </div>
        <hr>

        <h5>Options</h5>
        {% for option in options %}
        <div class="mb-3">
            <label for="option_{{ option.id }}" class="form-label">Option {{ loop.index }}</label>
            <input type="text" class="form-control" id="option_{{ option.id }}" name="option_{{ option.id }}" value="{{ option.option_text }}" required>
    
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" id="is_correct_{{ option.id }}" name="is_correct_{{ option.id }}"
                {% if option.is_correct %} checked {% endif %}>
                <label class="form-check-label" for="is_correct_{{ option.id }}">Correct Answer</label>
            </div>
        </div>
        {% endfor %}
        <hr>

        <div class="mb-5">
          
        <button type="submit" class="btn btn-primary">Update Question</button>
        <a href="{{ url_for('add_quiz') }}" class="btn btn-secondary">Back to Quizzes</a>
        </div>
</div>

{% endblock %}
