{% extends 'layout.html' %}

{%block head%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{%endblock%}

{% block content %}




<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-header">
            <h4>Update Quiz</h4>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="mb-3">
                    <label for="quizName" class="form-label">Quiz Name</label>
                    <input type="text" class="form-control" id="quizName" name="name" value = "{{quiz.name}}">
                </div>
                <div class="mb-3">
                    <label for="quizDate" class="form-label">Date</label>
                    <input type="text" class="form-control" id="quizDate" name="date" value ="{{quiz.date}}">
                </div>
                <div class="mb-3">
                    <label for="quizTime" class="form-label">Time</label>
                    <input type="text" class="form-control" id="quiztime" name="time" value="{{ quiz.time.strftime('%I:%M %p') }}">
                </div>
                
                <div class="mb-3">
                    <label for="chapterSelect" class="form-label">Select Chapter</label>
                    <select class="form-select" style="width: auto; min-width: 500px;" id="chapterSelect" name="chapter_id">
                        <option disabled selected>Select a Chapter</option>
                        {% for chapter in chapters %}
                            <option value="{{ chapter.id }}"
                                {% if quiz.chapter and chapter.id == quiz.chapter.id %}
                                    selected
                                {% endif %}
                            >
                                {{ chapter.name }} ({{ chapter.course.name }})
                            </option>
                        {% endfor %}
                    </select>
                </div>                    
                <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Update Quiz</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}


{% block script %}
<script>
flatpickr("#quiztime", {
    enableTime: true,
    noCalendar: true,
    dateFormat: "h:i K",  
    time_24hr: false     
});

flatpickr("#quizDate", {
    dateFormat: "Y-m-d" 
  });

</script>
{% endblock %}