{% extends 'layout.html' %}

{% block title %}
Login - Quiz-Master
{% endblock %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">   
{% endblock %}


{%block content%}
<h1>Login</h1>
<form method = 'post' class = 'mt-5'>
    <label for="username" class='form-label'> Username:
        <input type="text" id="username" name="username" class='form-control' placeholder="Enter username" required>
    </label>    
   
    <label for="password" class='form-label' > Password:
        <input type="password" id="password" name="password" class='form-control' required>
    </label>
    <input type = 'submit' value = 'Login' class ='btn btn-success'> <br>
    <span>New user?<a href = "{{url_for('register')}}" > register</a></span>
</form>
{%endblock%}

